<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Car Inventory DB</title>
  <!-- BULMA Framework -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <!-- custom css -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!-- symbols -->
  <script src="https://kit.fontawesome.com/881c4ac903.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="wrapper">
    <!-- header -->
    <header>
      <!-- navbar links -->
      <nav class="navbar">
        <div class="container">
          <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">
              <a href="/" class="navbar-item">
                CAR INVENTORY
              </a>
            </div>

    {{#if loggedIn}}
            <!-- button is LOGOUT -->
            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                  <a id="logout" class="button is-link">Logout</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <!-- hero is smaller -->
    <main id="body" class="section">
      <div class="container column is-12">{{{ body }}}</div>
    </main>
    </header>
    {{else}}
            <!-- button is LOGIN -->
            <header>
            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                  <a href="/login" class="button is-link">Login</a>
            
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
      
      <!-- hero is smaller -->
    <main id="body" class="section">
      <div class="container column is-12">{{{ body }}}</div>
    </main>
    </header>
    {{/if}}

    <div class="spacer"></div>

    <!-- footer -->
    <footer class="footer">
      <div class="content has-text-centered">
        <p><strong>Made By</strong><a href="https://github.com/salmanghouse1/Car-Inventory-DB"><strong></strong></a></p>
      </div>
    </footer>
  </div>
 <script src="/javascript/modal-temp.js"></script>
 <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  {{#if loggedIn}}
  <!-- for when button is LOGOUT -->
  <script src="/js/logout.js"></script>
  {{/if}}

  <!-- temporary modal script (taken from BULMA Documentation) -->
 
</body>

</html>