<!-- Database Category Selection -->
<section id="db-selection">
  <div class="buttons are-medium">

    <!-- actual code -->
    {{!--
    {{#each Category}}
    <div class="section">
      <button type="button" id="{{lowercase categoryName}}-db" class="button is-rounded is-fullwidth btn-style">{{uppercase categoryName}}</button>
    </div>
    {{/each}}
    --}}

    <!-- Placeholder for testing START -->
    <div class="section">
      <a href="/login" type="button" id="cars-db" class="button is-rounded is-fullwidth btn-style">CARS</a>
    </div>
    <div class="section">
      <a href="/login" type="button" id="cars-db" class="button is-rounded is-fullwidth btn-style">Get an Account Now</a>
    </div>
    <!-- Placeholder for testing END -->

  </div>
</section>