<!-- Database Category Selection -->

      <!-- hero is bigger -->
      <section class="hero is-large is-dark" style="
	width: 100%;
    background-image: url(./images/cars.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">
        <div class="hero-body">
          <p class="title">
            CAR INVENTORY DATABASE
          </p>
          <p class="subtitle">
            Lets Drive!
          </p>
          <div class="buttons">
                  <a href="/login" class="button is-link">Login</a>
            
                </div>
        </div>
      </section>
    

<section id="db-selection">
  <div class="buttons are-medium">

    <!-- actual code -->
    {{!--
    {{#each Category}}
    <div class="section">
      <button type="button" id="{{lowercase categoryName}}-db" class="button is-rounded is-fullwidth btn-style">{{uppercase categoryName}}</button>
    </div>
    {{/each}}
    --}}

    <!-- Placeholder for testing START -->
    <div class="section">
      <a href="/login" type="button" id="cars-db" class="button is-rounded is-fullwidth btn-style">CARS</a>
    </div>
    <div class="section">
      <a href="/login" type="button" id="cars-db" class="button is-rounded is-fullwidth btn-style">Get an Account Now</a>
    </div>
    <!-- Placeholder for testing END -->

  </div>
</section>